.homecontainer {
    width: 97%;
    height: 18%;
    border-radius: 0.5rem;
    background-color: rgb(24, 23, 23);
    margin: 0.5rem auto;
    font-size: 1.6rem;
    display: grid;
    align-content: space-around;
    color: white;
}

h3 {
    font-size: 1rem;
    font-weight: 800;
}

.homeIcon,
.searchIcon {
    display: flex;
    align-items: center;
}

.homeIcon .svg-inline--fa {
    margin: 0rem 1.6rem;
}

.searchIcon .svg-inline--fa {
    margin: 0rem 1.6rem;
}